<!DOCTYPE html>
<html>

<head>
    <title>Exam Management System - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div id="sidebar">
        <ul class="menu">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            @if (User.IsInRole("faculty"))
            {
                <li><a asp-controller="Students" asp-action="Index">Students</a></li>
                <li><a asp-controller="Faculty" asp-action="Index">Faculty</a></li>
                <li><a asp-controller="Exams" asp-action="Index">Exams</a></li>
                @*<li><a asp-controller="Students" asp-action="Index">Students Exam Results</a></li>*@
                <li><a asp-controller="ExamRegistration" asp-action="ViewAll">View All Student Records</a></li>
                <li><a asp-controller="Student" asp-action="ChangeResults">Change Results</a></li>
                <li><a asp-controller="ExamRegistration" asp-action="ViewCompleted">View Completed</a></li>
            }

            @if (User.IsInRole("student"))
            {
                @*<li><a asp-controller="Student" asp-action="Index">Student</a></li>*@
                <li><a asp-controller="Student" asp-action="Details">Student Details</a></li>
                @*<li><a asp-controller="Student" asp-action="Details">Student Exam Registration</a></li>
                <li><a asp-controller="Student" asp-action="Details">Student Exam Withdraw</a></li>*@
                <li><a asp-controller="Student" asp-action="Exams">Registered Exams</a></li>
                <li><a asp-controller="Student" asp-action="AvailExams">Available Exams</a></li>

            }

            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
            }
            else
            {
                <li><a asp-controller="Auth" asp-action="Login">Login</a></li>
            }
        </ul>

    </div>
    <div id="wrapper">
        <div id="main">
            <div>
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            Exam Management System
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    @RenderSection("Scripts", false)
</body>

</html>