@model ExamManagementSystem.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="city" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="commResult" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="commResult" class="form-control" />
                <span asp-validation-for="commResult" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="firstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="group1" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="group1" class="form-control" />
                <span asp-validation-for="group1" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="group2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="group2" class="form-control" />
                <span asp-validation-for="group2" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="group3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="group3" class="form-control" />
                <span asp-validation-for="group3" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="group4" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="group4" class="form-control" />
                <span asp-validation-for="group4" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="lastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="major" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="major" class="form-control" />
                <span asp-validation-for="major" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="phone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="prgResult" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="prgResult" class="form-control" />
                <span asp-validation-for="prgResult" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="txStateID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="txStateID" class="form-control" />
                <span asp-validation-for="txStateID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="zip" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="zip" class="form-control" />
                <span asp-validation-for="zip" class="text-danger" />
            </div>
        </div>
        <div class="">
            <label >Password</label>
            <input type="password" name="Password" class="form-control" />
            <span ></span>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
