@model ExamManagementSystem.Models.Exam

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Exam</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="examID" />
        <div class="form-group">
            <label asp-for="date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="date" class="form-control" />(YYYY:MM:DD)
                <span asp-validation-for="date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="examType" class="col-md-2 control-label"></label>
            @Html.RadioButton("examType", "Programming Exam")<text>Programming Exam</text>
            @Html.RadioButton("examType", "Communication Exam")<text>Communication Exam</text>
            @*<div class="col-md-10">
                 <input asp-for="examType" class="form-control" />
                 <span asp-validation-for="examType" class="text-danger" />
                </div>*@
        </div>
        <div class="form-group">
            <label asp-for="location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="regDeadline" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="regDeadline" class="form-control" />(YYYY:MM:DD)
                <span asp-validation-for="regDeadline" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="semester" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.RadioButton("semester", "Fall")<text>Fall</text>
                @Html.RadioButton("semester", "Spring")<text>Spring</text>
                @*<input asp-for="semester" class="form-control" />
                    <span asp-validation-for="semester" class="text-danger" />*@
            </div>
        </div>
        <div class="form-group">
            <label asp-for="startTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="startTime" class="form-control" />(HH:MM)
                <span asp-validation-for="startTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="endTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="endTime" class="form-control" />(HH:MM)
                <span asp-validation-for="endTime" class="text-danger" />
            </div>
        </div>
        @*<div class="form-group">
                <label asp-for="Type" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="StartTime" class="form-control" />
                    <span asp-validation-for="StartTime" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EndTime" class="form-control" />
                    <span asp-validation-for="EndTime" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RegDeadline" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="RegDeadline" class="form-control" />
                    <span asp-validation-for="RegDeadline" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Semester" class="form-control" />
                    <span asp-validation-for="Semester" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger" />
                </div>
            </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
